{% extends "padrao.html" %}

{% block conteudo %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="/adicionar">
                <fieldset>
                    <legend>Digite as informações da Atividade</legend>

                    <div class="mb-3">
                        <label for="nome">Nome da Atividade: </label>
                        <input type="text" name="nome" class="form-control" id="nome" required>
                    </div>

                    <div class="mb-3">
                        <label for="tipo_recurso">Tipo de Recurso: </label>
                        <select name="tipo_recurso" class="form-control" id="tipo_recurso" required>
                            <option value="equipamento">Inventário de Equipamentos</option>
                          
                        </select>
                    </div> 
                
                    <div class="mb-3">
                        <label for="descricao">Descrição: </label>
                        <textarea name="descricao" class="form-control" id="descricao" rows="3" required></textarea>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Cadastrar Atividade</button>
                    </div>    
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
